<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.major">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Kisan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CropActivity" android:label="Crop Prediction"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="About the Application" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".CloudActivity"
            android:label="Data From ThinkSpeak Cloud" />
        <activity
            android:name=".ShopActivity"
            android:label="Shop Products" />
        <activity
            android:name=".MoistureActivity"
            android:label="Soil Monitoring" />
        <activity
            android:name=".HumidityActivity"
            android:label="Humidity Monitoring" />
        <activity
            android:name=".TemperatureActivity"
            android:label="Temperature Monitoring" />
        <activity
            android:name=".NewsActivity"
            android:label="News" />
        <activity
            android:name=".YoutubeActivity"
            android:label="Videos" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".splash_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GetInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DashActivity"
            android:label="Smart Kisan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".EmailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CreateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>